<!DOCTYPE html>
<html lang= "pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>EventosApp</title>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>

<body>
	<h1>Eventos</h1>
	<h3>
		<a href="/eventos" class="waves-effect waves-light btn"><i
			class="material-icons right">add_circle_outline</i>Lista de Eventos</a>
	</h3>

	<div th:each="evento: ${evento}">
		<div class="row">
			<div class="container">
				<p>
					Nome:<span th:text="${evento.nome}"></span>
				</p>
				<p>
					Local:<span th:text="${evento.local}"></span>
				</p>
				<p>
					Data:<span th:text="${evento.data}"></span>
				</p>
				<p>
					Horário:<span th:text="${evento.horario}"></span>
				</p>
				<h3>Lista de participantes:</h3>
				<form method = "post">
					Nome do participante:<input type = "text" value ="" name = "nomeParticipante"/>
					RG:<input type = "text" value ="" name = "rg"/>
					<button type = "submit" class="waves-effect waves-light btn">Adicionar participante</button>
					
				</form>
			</div>
		</div>
	</div>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>